active=B"true"
authenticationEnabled=B"false"
connectionId="LiferayElasticSearch"
httpSSLEnabled=B"false"
networkHostAddresses=[ \
  "http://elasticsearch74:9200", \
  ]
proxyHost=""
proxyPort=I"0"
proxyUserName=""
truststorePath="/path/to/localhost.p12"
truststoreType="pkcs12"
username="elastic"
